In [18]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('../data/data-unnormalised.csv')

In [17]:
data.head()

   transfer_date   latitude  longitude  D  F  S  T  N  Y  F.1  L  U  price
0            292  51.892795   0.948823  0  0  1  0  1  0    1  0  0  41950
1            264  51.621355   0.184748  0  0  1  0  1  0    1  0  0  96500
2            219  50.852896  -1.077836  0  0  0  1  1  0    1  0  0  27500
3            344  54.518573  -1.351000  0  0  1  0  1  0    1  0  0  53000
4             88  51.621686   0.120590  1  0  0  0  1  0    1  0  0  75000

In [28]:
perm0 = np.arange(data.shape[0])

In [29]:
np.random.shuffle(perm0)

In [30]:
perm0

array([ 9679546,  6069527,  9309474, ...,  1515586, 21376013, 17911734])

```
ppd = read_data_set(“data/pp-complete-preprocessed.csv”)

ppd.train
ppd.validate
ppd.test

ppd.train.features
ppd.train.prices

batch_xs, batch_ys = ppd.train.next_batch(100)
```